body {
    font-size: 16px;
    color:rgba(0,0,0,0.87);
    font-family: Arial, Helvetica, sans-serif;
}
/* header {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
} */

li:hover{
    text-decoration: underline;
}

#blank {
    grid-column: 3/9;
}
/* ul > li {
    display: inline-block;
} */


ul {
    margin: 20px 0px 200px 0px; /* top, right, bottom. left*/
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-items: center;
}

#google-img {
    display: block;
    margin: 200px auto 50px auto;
    max-height: 130px;
    width: auto;
}

#searchbar form{
    margin: 50px 0px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    row-gap: 2em;
}

#searchbar input{
    grid-column: 2/5;
    height: 1.5em;
    border-radius: 500px;
    transform: scaleX(0.6);
    border-color: lightgray;
    font-size: 30px;
}

#searchbar input:hover {
    box-shadow: 0px 0px 3px 2px lightgray;
}

#buttons {
    grid-row: 2/2;
    grid-column: 3/4;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 5px;
}

#buttons button {
    padding: 10px 16px;
    font-size: 20px;
    line-height: 27px;
    justify-self: center;
    border-color: rgb(238, 238, 238);
    border-radius: 10px;
    background-color: rgb(238, 238, 238);
    color: gray;
}

#buttons button:hover {
    box-shadow: 0px 0px 3px 2px lightgray;
}

footer {
    background-color: lightgray;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 3em; 
}

#left-foot-list {
    margin: 20px 0px 0px 0px; /* top, right, bottom. left*/
}

/* Drawing Cirle Icon... */
#circle-icon {
    --max-height: max-height;
    width: 30px;
    height: 30px;
    background-color: teal;
    border-radius: 100%;
}